body {
  margin: 0;
}

.stage {
  animation: animateBg 50s linear infinite;
  background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-position: center;
}
@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

.bubbles img{
  width:50px;
  animation: bubble 7s linear infinite;
}
.bubbles{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}
@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{

    opacity: 1;
  }
  70%{

    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 2s;
  width: 25px;
  }
  .bubbles img:nth-child(2){
    animation-delay: 1s;
  }
  .bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
  }
  .bubbles img:nth-child(4){
    animation-delay: 4.5s;
  }
  .bubbles img:nth-child(5){
    animation-delay: 3s;
  }
  .bubbles img:nth-child(6){
    width: 20px;
    animation-delay: 6s;
  }
  .bubbles img:nth-child(7){
    width: 35px;
    animation-delay: 7s;
  }
}
